[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-yasg = "*"
gunicorn = "*"
psycopg2-binary = "*"
graphviz = "*"
django-extensions = "*"
django-cors-headers = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
cloudinary = "*"
django-cloudinary-storage = "*"
python-dotenv = "*"
django-filter = "*"
pytest = "*"
whitenoise = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.12"
