[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-yasg = "*"
gunicorn = "*"
psycopg2-binary = "*"
python-dotenv = "*"
djangorestframework = "*"
rest-framework-simplejwt = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.12"
