name: Build and Push Docker Image

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image from Backend directory
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/connectx-backend:latest ./Backend

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/connectx-backend:latest
      - name: Trigger Render Deploy Hook
        run: curl -X POST "${{ secrets.RENDER_DEPLOY_HOOK_URL }}"
      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: connectx-460618

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy connectx-backend \
            --image docker.io/your-dockerhub-username/connectx-backend:latest \
            --region europe-west1 \
            --platform managed \
            --allow-unauthenticated
